<div class="container">
  <div class="grid">
    <% @offices.each do |office| %>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header">
              <%= office.name %>
            </h1>
            <i class="fa-solid fa-person-shelter"></i>
            <span><%= office.max_capacity %></span>
            <i class="fa-solid fa-handshake"></i>
            <span><%= office.meeting_rooms %></span>
            <i class="fa-solid fa-euro"></i>
            <span><%= office.price %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
