<h1 class=text-center>List your property</h1>
 <div>
    <div class="form">
    <p>List a new space for professionals and companies to rent out. Please provide enough information regarding the facilities available in your property, and any other relevant details, such as proximity to trains and buses, or parking. Making your property stand out by choosing a unique name and write a compelling description. Don't forgert that images play a vital role and it the first impression you make to those interested in booking your property.</p>
    <%= render "form", office: @office %>
    </div>
 </div>
