  <% content_for :title do %>
    <%= @office.name %>
  <% end %>
  <div class="heading-banner">
  <h5 class="text-center">Special sign up offer - 0% commission on your first 3 bookings!</h5>
  </div>
   <div class="two-columns">
     <div class ="side-bar">
    <div class="feature-header">
    <h1 class="text-center fw-bold my-4">List your MeetingSpace today!</h1>
    <div class="feature-text">
      <h4 class="mb-4">Connect your vacant MeetingSpace with business people from around the globe looking for a place to work. With just a few clicks, you can turn your empty MeetingSpace into revenue.</h4>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="new-image">


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-white-new-1"></div>
      <div class="content">
        <h4 class="card-text mb-0 text-center"><strong>Premium users</strong><br></h4>
        <p>MeetingSpace has over 1m users seeking office space allowing you to maximise your revenue.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-white-new-2"></div>
      <div class="content">
        <h4 class="card-text mb-0 text-center"><strong>Global coverage</strong><br></h4>
        <p>MeetingSpace has users all over the world seeking office space in the city they are in.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-white-new-3"></div>
      <div class="content">
        <h4 class="card-text mb-0 text-center"><strong>24/7 support</strong><br> </h4>
        <p>Specially trained agents on hand 24/7/365 to ensure the smooth running of your office rental.</p>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="quote-card my-2">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="quote-content">
    <p><strong>Mr Rich Landlord</strong></p>
    <p>"I started renting my spare office space on MeetingSpace and now my office is full and I'm making so much extra cash each month. I love MeetingSpace"</p>
  </div>
</div>

  </div>
 </div>
    <div class="form my-5">
    <h3 class="text-center">Upload your MeetingSpace</h3>
    <p>List a new space for professionals and companies to rent out.</p>
    <%= render "form", office: @office %>
    </div>
 </div>
