<% if current_user %>
  <% if @unread.count > 0 %>
    <a class="nav-link navbar-buttons-unread" href="#" id="navbarDropdown" style="padding: 10px 20px; margin-right: 10px;" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
        Notifications <span>(<%= @unread.count >= 9 ? "9+" : @unread.count %>)</span>
    </a>
  <% else %>
      <a class="nav-link navbar-buttons" href="#" id="navbarDropdown" style="padding: 10px 20px; margin-right: 10px;" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
        Notifications
    </a>
  <% end %>
  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
    <% @unread.each do |notification| %>
      <%= render 'shared/notification', notification: notification %>
    <% end %>
    <% if @read.count > 0 && @unread.count > 0 %>
      <li>
        <hr class="dropdown-divider">
      </li>
    <% elsif @read.count + @unread.count == 0 %>
      <li class="dropdown-item">
        No notifications yet.
      </li>
    <% end %>
    <% @read.each do |notification| %>
      <%= render 'shared/notification', notification: notification %>
    <% end %>
  </ul>
<% end %>
