<%= turbo_frame_tag "modal" do %>
<div id="modal">
  <div class ="bg">
    <div class="popup">
      <h4>Terms&Conditions</h4>
      <p><strong>This is supercalifragilisticexpialidocious important information</strong></p>
      <ol>
        <li> By placing an order via this Web site on the first day of the fourth month of the year 2010 <b>Anno Domini</b>, you agree to grant Us a non-transferable option to claim, for now and for ever more, your immortal soul. Should We wish to exercise this option, you agree to surrender your immortal soul, and any claim you may have on it, within 5 (five) working days of receiving written notification from gamesation.co.uk or one of its duly authorized minions.
We reserve the right to serve such notice in 6 (six) foot high letters of fire, however we can accept no liability for any loss or damage caused by such an act. If you a) do not believe you have an immortal soul, b) have already given it to another party, or c) do not wish to grant Us such a license, please click the link below to nullify this sub-clause and proceed with your transaction.</li>
        <br>
        <li>By downloading an ebook via this website, you agree to grant us a non-transferable option to be <b>on the naughty list</b> for the rest of your life. Should we wish to exercise this option, you agree to be put on Santa’s naughty list. We reserve the right to serve such notice, however, we can accept no liability for any loss or damage caused by such an act. If you a) do not believe in Christmas, b) are already on the naughty list, or c) do not wish to grant us such a license, please send an email to the address below to nullify this sub-clause and proceed with your download. </li>
        <br>
        <li>If you are wearing a blue poloshirt while making a booking via this website, you agree to grant us a non-transferable option to <b>let us name your firstborn child</b>. Should we wish to exercise this option, you agree to surrender control over choosing the name, and any claim you may have on it. We reserve the right to serve such notice, however, we can accept no liability for any loss or damage caused by such an act. If you a) do not believe you want a child, b) have had your firstborn child already or c) do not wish to grant us such a license, please send an email to the address below to nullify this sub-clause and proceed with your download.</li>
        <br>
        <li>By browsing our website, you agree to grant us a non-transferable option to <b>not eat pizza for the next 12 months</b>. Should we wish to exercise this option, you agree to refuse any type of pizza for the next 12 months. We reserve the right to serve such notice, however, we can accept no liability for any loss or damage caused by such an act. If you a) can’t be without pizza b) have already planned to eat pizza, or c) do not wish to grant us such a license, please send an email to the address below to nullify this sub-clause and proceed with your download.</li>
        <br>
        <li>However, this restriction will not apply in the event of the occurrence (certified by the United States Centers for Disease Control or successor body) of a widespread viral infection transmitted via bites or contact with bodily fluids that causes human corpses to reanimate and seek to consume living human flesh, blood, brain or nerve tissue and is likely to result in the fall of organized civilization</li>
      </ol>
      <div class="justify_content_center">
        <%= link_to "Accept", '#', data: {
          controller: "modals",
          action: "modals#close"
        }, class: "btn-confirm" %>
      </div>
    </div>
  </div>
</div>
<% end %>
