.banner {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("background-home.png");
  background-size: cover;
  background-position: center;
  padding: 5px;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  h4 {
    color: white;
    font-size: 30px;
  }

  .banner-content {
    background-color: #256d85d6;
    margin-left: 5px;
    margin-bottom: 1px;
    padding: 50px 80px;
    border-radius: 7px;

  }

  .custom-button {
    margin-left: 10px;
    background-color: $dark-blue;
    width: 150px;
  }
}

.heading-banner {
  background-color: $mint;
}
