.banner {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: image-url("background-home.png");
  background-size: cover;
  background-position: center;
  padding: 5px;

  h3 {
    color: white;
    font-weight: lighter;
    opacity: 0.9;
    font-size: 30px;
    background-color: #256D85;
    margin-left: 5px;
    margin-bottom: 1px;
    padding: 15px 50px;
  }
}

.heading-banner {
  background-color: $mint;
}
