.booking-cards {
  display: grid;
  grid-template-columns: 1fr;

  // @media screen and (min-width: 776px) {
  //   grid-template-columns: 1fr 1fr;
  // }

  //  @media screen and (min-width: 992px) {
  //   grid-template-columns: 1fr 1fr 1fr;
  // }
}

.booking-card {
  display: flex;
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 5px;
  border: #E3E3E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



  .office-buttons {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-grow: 1;
  }

  .office-details {
    flex-grow: 2;
    padding: 10px 0px 10px 20px;
  }

}

.landlord-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 15px 15px 15px 0px;

  img {
    border-radius: 50%;
    margin-left: 20px;
  }

  p {
    margin-bottom: 0px;
  }
}

.office-img {
  img  {
    width: 250px;
    flex-grow: 1;
    object-fit: cover;
  }
}

.panel {
  // .booking-card {
  //   width: 90%;
  //   background-color: rgb(255, 255, 255);
  //   padding: 20px;
  //   margin: 10px;
  //   border-radius: 5px;
  //   border: #E3E3E3;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // }
}


.status-p {
  width: fit-content;
  padding: 5px;
  border: 1px solid $red;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.2);
}

.status-c{
  width: fit-content;
  padding: 5px;
  border: 1px solid $dark-blue;
  border-radius: 15px;
  background-color: $mint-green;
}

.hyperlinked-title {
  text-decoration: underline;
  color: $dark-blue;
}
