.btn-confirm {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $dark-blue;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  &:hover {
    background-color: $dark-gray;
    color:white;
  }
}

.btn-error {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $red;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  &:hover {
    background-color: $red;
    color:white;
  }
}
