.btn-confirm {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $dark-blue;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-decoration: none;

  &:hover {
    background-color: $dark-gray;
    color:white;
  }
}

.btn-error {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $red;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-decoration: none;

  &:hover {
    background-color: $red;
    color:white;
  }
}

.btn-edit {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $petrol;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-decoration: none;

  &:hover {
    background-color: $petrol;
    color: rgb(55, 55, 55)
  }
}

.btn-delete {
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
color: rgb(45, 45, 45);
background-color: #2B4865;
border: none;
color: white;

&:hover {
  color: rgb(55, 55, 55)
}
}
