.office-card {
  background-color: #256D85;
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1.5rem;
}

.card-attr {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 1rem;
}

.card-price {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 1rem;
}

.card-rating {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 2.5rem;
}