.office-card {
  background-color: #256D85;
  

}

.office-card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
  height: 2rem;
}

.card-attr {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card-price {
  font-size: 1.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card-rating {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card {
  border:#256D85;
  }
  
// for my_properties page
.card-product-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: black;
}

.card-product {
  overflow: hidden;
  flex-wrap: wrap;
  width: 80%;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
