.office-card {
  background-color: #256D85;
}

.office-card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
  height: 2rem;
}

.card-attr {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card-price {
  font-size: 1.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card-rating {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 0.8rem;
}

.card {
  border:#256D85;
  }

// for my_properties page
.card-product-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: black;
}

.card-product {
  overflow: hidden;
  flex-wrap: wrap;
  width: 80%;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  };

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  };

  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  };
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.account-card {
  display:flex;
  gap: 57px;
  width: 573px;
  height: 221px;
  left: 217px;
  top: 258px;
  margin-top: 28px;
  margin-left: 22px;
  margin-bottom: 30px;
  margin-right: 417px;

  img {
    width: 221px;
    height: 221px;
    left: 217px;
    top: 258px;
  };

  .account-card-content {

    .name {
      font-weight: 400;
      font-size: 30px;
      line-height: 43px;
      color: #000000;
    };

    .email {
      font-weight: 400;
      font-size: 22px;
      line-height: 43px;
      color: #000000;
    }

    .account-card-prop {
      display: flex;
      gap: 7px;

      .count {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
      };

      .view-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-decoration-line: underline;
      };
    };
  };

  .account-card-buttons {
    display: flex;
    gap: 37px;
    margin-bottom: 20px;

    .account-edit {
      width: 123px;
      height: 34px;
      left: 495px;
      top: 435px;
      background: #256D85;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      padding-top: 4px;
      font-size: 16px;
    };

    .account-delete {
      width: 144px;
      height: 34px;
      left: 646px;
      top: 435px;
      background: #852525;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      padding: center;
      border:none;
    };
  };

  .login {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }
}

.quote-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.quote-card .quote-content {
  flex-grow: 1;
  padding: 0 24px;
}
.container-flexbox {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  align-items: stretch;

  @media screen and (min-width: 480px) {
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    width: 60%;
  }

  @media screen and (min-width: 992px) {
    width: 30%;
  }
}

.card-white {
  border: 1px solid rgb(223, 213, 213);
  padding: 50px auto;
}

.card-white-image-1 {
  background-image: image-url("office-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card-white-image-2 {
  background-image: image-url("office-image-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card-white-image-3 {
  background-image: image-url("office-image-3.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

 .team-pic {
  background-image: image-url("team-pic.png");
  //background-size: cover;
  background-position: center;
  border: 5px solid rgb(240, 240, 240);
  //width: 50%;
  //justify-content: center;
  height: 200px;
  background-repeat: no-repeat;
  border-radius:20px;
  //align-items: center;
  //align-content: center;
 }

 .content {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 }

 .card-final {
  align-items: center;
  justify-content: center;
  background-position: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  //display: flex;
 }

 .why-home {
  width: 70rem;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
 }

.show-office-card {
  box-sizing: border-box;
  width: 722px;
  height: 718px;
  background: #FFFFFF;
  border: 3px solid #256D85;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  img {
    width: 651px;
    height: 379px;
    margin-left: 35.5px;
  };

}

.show-office-reviews {
  box-sizing: border-box;
  width: 722px;
  border: 3px solid #256D85;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.show-booking {
  width: 365px;
  background: #256D85;
  border-radius: 5px;
  position: sticky;

  .simple_form {
    display: flex;
    flex-direction: column;

    .flatpickr-calendar.inline {
      align-self: center;
    };

    .btn-confirm {
      align-self: center;

    };

  };

}
