.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: 300px;
  margin-right: 300px;
}

.office-grid {
  display: grid;
  width: 114em;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
