.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

// filters on index page
#max_price {
  width: 80px;
}

#min_price {
  width: 80px;
}

#max_capacity {
  width: 120px;
}

#query {
  width: 330px;
}

//end of index filters

.booking-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  width: fit-content;
  background: white;
  height: fit-content;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .flatpickr-calendar.inline {
    margin:auto;
    margin-top: 20px;
  };

  .btn-confirm {
    align-self: center !important;
    margin-bottom: 20px
  };

  p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  @media screen and (min-width: 480px) {
    width: 90%;
  };

  @media screen and (min-width: 768px) {
    width: 70%;
  };

  @media screen and (min-width: 992px) {
    width: 50%;
  }
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin-right: 10px;
    width: 150px;
  }
}

.form-signin {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 20px auto;
  background: #FFFFFF;
  border-radius: 5px;
  border: #E3E3E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-background{
  display: flex;
  justify-content: center;

  background-color: $dark-blue;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  img {
    width: 50%;
    justify-content: center;
    align-self: center;
  }
}

.logo-background-booking{
  background-color: $dark-blue;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 100%;
  max-width: 330px;
  margin-left: 500px;
}


.index-search-form {
  display: flex;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  justify-content: center;
  width:auto;
}
