

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  @media screen and (min-width: 480px) {
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    width: 60%;
  }

  @media screen and (min-width: 992px) {
    width: 30%;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-color: white;
}
.logo-background{
  background-color: $dark-blue;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.index-search-form {
  display: flex;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  justify-content: center;
  width:auto;
}
