.card-white-image-1 {
  background-image: image-url("office-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card-white-image-2 {
  background-image: image-url("office-image-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card-white-image-3 {
  background-image: image-url("office-image-3.jpg");
  background-size: cover;
  background-position: center;
  background-color: white;
  //border: 5px solid rgb(240, 240, 240);
  //padding: 8px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.team-pic {
  background-image: image-url("team-pic.png");
  //background-size: cover;
  background-position: center;
  border: 5px solid rgb(240, 240, 240);
  //width: 50%;
  //justify-content: center;
  height: 200px;
  background-repeat: no-repeat;
  border-radius:20px;
  //align-items: center;
  //align-content: center;
}

.content {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-final {
  align-items: center;
  justify-content: center;
  background-position: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  //display: flex;
}

.why-home {
  width: 70rem;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  p {
    font-size: 18px;
  };
}

.home-carousel {
  width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.splide__slide {
  height: 350px;
  width: 250px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-size: 14px;
  border-radius: 10px;
}

.client-1 {
  background-image: image-url("client-01.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-2 {
  background-image: image-url("client-02.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-3 {
  background-image: image-url("client-03.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-4 {
  background-image: image-url("client-04.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-5 {
  background-image: image-url("client-05.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-6 {
  background-image: image-url("client-06.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-7 {
  background-image: image-url("client-07.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-8 {
  background-image: image-url("client-08.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.client-9 {
  background-image: image-url("client-09.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
}

.card-body {
  width: 250px;
  border-radius: 15px;
}
