.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#show-map {
  box-sizing: border-box;
  border: 3px solid #256D85;
}
