.navbar-lewagon {
  justify-content: space-between;
  background: #002B5B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-lewagon .avatar {
  width: 80px;
}
