// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  font-family:$body-font;
  background-color: #e7e7e7;
}


.popup {
  position: relative;
  z-index: 101;
  right: 10px;
  top: 30px;
  width: 800px;
  word-break: break-word;
  border-radius: 6px;
  background: #8FE3CF;
  color: rgb(20, 20, 20);
  margin: 0 auto;
  overflow: auto;
  padding: 30px;
  // transform: translate(-50%, -50%);

  h4 {
    text-align: center;
  }

  h4+p{
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    width: 750%;
  }

  @media screen and (min-width: 992px) {
    width: 60%;
  }

}


.bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
