// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .office-grid {
    gap: 3rem;
  }
}

body {
  font-family:$body-font;
  background-color: #e7e7e7;
}
